<div class="my-5">
    <h1 class="text-center">Frequently Asked Questions</h1>
    <div class="container-fluid accordioncontainer">
        {% for q in faq %}
        <button class="accordion accordionhead">{{q.question}}</button>
        <div class="accordion-content">
          <hr class="my-4">
          <div class="row accordioninside">
            <div class="col-12">
              <p>{{q.answer}}</p>
            </div>
          </div>
          <hr class="my-4">
        </div>
        {% endfor %}
      </div>
</div>
