<nav class="navbar navbar-expand-lg py-3">
    <div class="container-fluid">
    <a class="d-lg-none navbar-brand" href="index.html"><img src="static/images/logo.jpeg" alt="Logo" height="50"></a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
      <div class="collapse navbar-collapse justify-content-around" id="navbarCenteredExample">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item px-3 nav-text"><a class="nav-link active" aria-current="page" href="index.html">Home</a></li>
            <li class="nav-item nav-text dropdown px-3"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">About</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="about-me.html">About Me</a></li>
                  <li><a class="dropdown-item" href="arts-about.html">About the Creative Arts</a></li>
                </ul>
              </li>
            <li class="nav-item nav-text px-3"><a class="nav-link" href="services.html">Services</a></li>
            <li class="nav-item d-none d-lg-block px-3"><a class="nav-link logo" aria-current="page" href="index.html"><img src="static/images/logo.jpeg" alt="Logo" height="65"></a></li>
            <li class="nav-item nav-text px-3"><a class="nav-link active" aria-current="page" href="the-space.html">Theraputic Space</a></li>
            <li class="nav-item nav-text px-3"><a class="nav-link" href="faq.html">FAQ & Resources</a></li>
            <li class="nav-item nav-text px-3"><a class="nav-link" href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>