{% extends "structure.html" %}
{% block content %}
<section>
    <div class="container my-5">
        <h1 class="text-center mb-5">About Me</h1>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 py-5">
                <img src ="{{ url_for('static', filename='images/Madeleine.jpg') }}" alt = "Madeleine" class="img-fluid"></div>
            <div class="col-sm-12 col-md-12 col-lg-8 mt-5">
                <div>
                <p>I am a Registered General Nurse, Accredited Play Therapist specialising in Sand play, I have a Diploma in Integrative Counselling and Psychotherapy and I have an MSc in Bereavement Studies.</p>
            </div>
            <div class="row my-5">
                <div class="col-md-6 py-3">
                    <h5 class="mb-3">Continuous Professional Development courses</h5>
                    <ul class="about-list">
                        <li class="about-list-item">Diploma in integrative Sandplay studies</li>
                        <li class="about-list-item">Certificate in Transpersonal Alchemical Studies Sandplay Specialisation</li>
                        <li class="about-list-item">Certificate in Art Therapy</li>
                        <li class="about-list-item">6 day course on Clay and Bodywork</li>
                        <li class="about-list-item">Positive parenting training for trainers</li>
                        <li class="about-list-item">Dance Movement Psychotherapy 60 hour course</li>
                        <li class="about-list-item">Applied Suicide Intervention Skills Training (ASIST)</li>
                        <li class="about-list-item">Specialist Workshop on Complicated Grief Therapy (CGT)</li>
                        <li class="about-list-item">Post Grad Certificate in Environmental Art Therapy</li>
                    </ul>
                </div>
                <div class="col-md-6 py-3"><h5 class="mb-4">Professional bodies registered with: </h5>
                    <ul class="about-list">
                        <li class="about-list-item">An Bord Altranais</li>
                        <li class="about-list-item">Play Therapy Ireland</li>
                        <li class="about-list-item">Irish Association of Counsellors and Psychotherapists</li>
                    </ul>
                    <p><strong>I adhere to the professional standards set out in their code of ethics. </strong></p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="container py-3">
        <h2 class = "text-center mb-5">Publicity</h2>
              <div class="row d-flex justify-content-around">
                <div class="col-sm-6 col-md-3 col-lg-3 p-5">
                  <i class="fas fa-book publicity-icons d-flex justify-content-center mb-4"></i>
                  <h5 class="text-center publicity-link my-2"><a href ="https://www.magonlinelibrary.com/doi/full/10.12968/gasn.2019.17.2.24" target="_blank">Creative Arts Therapy in Stoma Care</a></h5>
                    <h6 class="text-center my-3">Workshops exploring grief, body image and sexual intimacy</h6>
                  <p class="publicity-par fst-italic text-center">Gastrointestinal Nursing Journal, <small>March 2019</small></p>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 p-5">
                  <i class="fas fa-book-open publicity-icons d-flex justify-content-center mb-4"></i>
                    <h5 class="text-center publicity-link my-2"><a href = "https://www.stomatips.com/features/article/create-explore-heal-creative-arts-therapy-for-people-with-a-stoma" target="_blank">Create, Explore, Heal</a></h5>
                    <h6 class="text-center my-3">Creative arts therapy for people with a stoma</h6>
                    <p class="fst-italic publicity-par text-center">Stoma Tips, patient magazine</p>
                  </div>
                <div class="col-sm-6 col-md-3 col-lg-3 z-depth-2 p-5">
                  <i class="fas fa-podcast publicity-icons d-flex justify-content-center mb-4"></i>
                  <h5 class="text-center publicity-link my-2"><a href = "https://www.shapesofgrief.com/podcast/gs15wkwsa9rvs7k6ml6s6irwoez0b2?rq=Madeleine%20Grant" target="_blank">Bereavement Overload and Prolonged Grief</a></h5>
                  <h6 class="text-center my-3">with Madeleine Grant</h6>
                  <p class="publicity-par fst-italic text-center">Liz Gleeson in a podcast</p>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 p-5">
                  <i class="fas fa-comment publicity-icons d-flex justify-content-center mb-4"></i>
                  <h5 class="text-center my-2">Grief and Loss in the area of illness and surgery</h5>
                  <p class="publicity-par fst-italic text-center mb-3">Nursing & Medical Conferences</p>
                </div>
              </div>
    </div>
</section>
{% endblock %}