{% extends "structure.html" %}
{% block content %}
<h1 class="text-center mt-5 mb-2">Get in Touch</h1>
<p class="text-center">For any enquiries you may have, please send me an email to get in touch.</p>
<div class="container">
   <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
         <p>Madeleine Grant, MSc Bereavement Studies, RGN, Accredited Play Therapist, Diploma in Sand Play Therapy  and Certificate in Art Therapy</p>
         <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
               <p>Rathdrum,<br>Co. Wickow</p>
         </div>
         <div class="col-sm-6 col-md-6 col-lg-6">
            <p> +353 87 2981642<br>wickowcreativeartstherapy@gmail.com</p>
      </div>
      </div>
      <div class="mapouter">
         <div class="gmap_canvas ratio ratio-16x9">
            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Rathdrum,%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
         </div>
      </div>
   </div>
   <div class="col-sm-12 col-md-12 col-lg-6 my-5">
      <form>
         <label for="full_name">Full Name</label>
         <input type="text" name="full_name" id="full_name" class="form-control">
         <label for="email">Email Address</label>
         <input type="email" name="email" id="email" class="form-control">
         <label for="phone">Phone Number</label>
         <input type="tel" name="phone" id="phone" class="form-control">
         <label for="enquiry">Enquiry</label>
         <textarea name="enquiry" id="enquiry" class="form-control"></textarea>
         <button type="submit">Submit Enquiry</button>
      </form>
   </div>
</div>
</div>
{% endblock %}