{% extends "structure.html" %}
{% block content %}
         <section>
            <div class="hero-outer">
                <div class="hero-image">
                </div>
                <div id="cover-text">
                   <h1 class="text-center overlay-text">Wicklow Play <br> & Creative Arts <br> Therapy</h1>
                </div>
             </div>
             <div class = "container my-5">
                <div class="row">
                   <div class="col-sm-10 col-md-10 col-lg-8 offset-sm-1 offset-md-1 offset-lg-2">
                      <p class="sub-heading text-center my-5 mx-3">Madeleine Grant, RGN, Accredited Play/Creative Arts Therapist, MSc Bereavement Studies, Dip in Integrative Counselling and Psychotherapy, Post Grad Certificate in Environmental Art Therapy.</p>
                   </div>
                </div>
             </div>
             <div class="container my-5">
                <div class="row">
                   <div class="col-sm-12 col-md-12 col-lg-4">
                      <img src = "static/images/painted_rock.jpeg" alt = "rock outdoor" class="img-fluid">
                   </div>
                   <div class="col-sm-12 col-md-12 col-lg-8 my-4 px-4">
                      <p>I am an Accredited Play Therapist & Environmental Art Therapist with additional Sand, Art and Bereavement training. I work therapeutically from a Rogerian, Jungian and Existential perspective. I believe that each person has the tools within themselves to heal.</p>
                      <p>I adhere to the core conditions of being present, empathic, non - judgemental and congruent.  My therapeutic space is in a woodland setting which brings an immediate connection with nature.</p>
                      <p>Play and Creative arts therapies use a variety of creative arts techniques to help children & adults who are struggling emotionally to realise their porential. 
                      </p>
                   </div>
                </div>
             </div>
             <div class="container py-5">
                 <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                     <h3 class="my-3">What is Play Therapy?</h3>
                     <p>I am an Accredited Play Therapist & Environmental Art Therapist with additional Sand, Art and Bereavement training. I work therapeutically from a Rogerian, Jungian and Existential perspective. I believe that each person has the tools within themselves to heal.</p>
                     <p>I adhere to the core conditions of being present, empathic, non - judgemental and congruent.  My therapeutic space is in a woodland setting which brings an immediate connection with nature.</p>
                     <p>Play therapy may be non-directive (where the child decides what to do in a session, within safe boundaries) or directive (where the therapist leads the way) or a mixture of the two. It is particularly effective with children who cannot, or do not want to talk about their problems.</p>
                     <p>Play Therapy is suitable for children aged from 3 years of age and there is no one too old who will not benefit from the creative arts!</p>
                     <p class="quote">“Often the hands know how to solve a riddle with which the intellect has wrestled in vain.”<span> C. G. Jung</span></p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                     <h3 class="my-3">What is Environmental Arts Therapy </h3>
                       <p>Environmental Art Therapy is when we bring our therapy sessions out into nature. <br>Nature has a way of giving us what we need at any given time. Being out in its wildness and its absolute beauty reminds us of how insignificant we are in the greater scheme of things and what seems like an insurmountable obstacle is actually manageable if seen from another perspective.</p>
                       <p>RW Kimmerer (2013) describes how trees are teachers of healing. Despite all the damage we inflict on mother nature she does not turn her back on us but instead is constantly there for us. Elements in nature understand their interconnectedness. Life of one is dependent on the life of all. As a culture we have moved so far from what is natural and we are hurting as a result.</p>
                       <p>Nature also lends itself to ritual and in its rhythms (the seasons, the tides, the winds etc) and seasonal changes we are reminded of our own losses and subsequent growth or decay. Fires can be lit, altars created, dens built, we can just walk and reflect on our loss. Having a witness, makes the sense of ritual more profound. Rituals and their embodied experience enable people to make meaning from their loss and to honour it. There is healing in that sense of ‘doing something’. Rituals allow for the processing of difficult feelings in a way that is safely contained. </p>
                       <p class="quote">‘There must be some among us with whom we can sit down and weep and still be counted as warriors’<span> Adrienne Rich</span></p>
                    </div>
                 </div>
              </div>
         </section>
{% endblock %}