{% extends "structure.html" %}
{% block content %}
<section>
   <div class="hero-outer">
      <div class="hero-image">
      </div>
      <div id="cover-text">
         <h1 class="text-center overlay-text">Wicklow Play <br> & Creative Arts <br> Therapy</h1>
      </div>
   </div>
   <div class = "container my-5">
      <div class="row">
         <div class="col-sm-10 col-md-10 col-lg-8 offset-sm-1 offset-md-1 offset-lg-2">
            <p class="sub-heading my-5 mx-3">Madeleine Grant, RGN, Accredited Play/Creative Arts Therapist, MSc Bereavement Studies, Dip in Integrative Counselling and Psychotherapy, Post Grad Certificate in Environmental Art Therapy.</p>
         </div>
      </div>
   </div>
   <div class="container my-5">
      <div class="row">
         <div class="col-sm-12 col-md-12 col-lg-4">
            <img src = "{{ url_for('static', filename='images/painted_rock.jpeg') }}" alt = "rock outdoor" class="img-fluid">
         </div>
         <div class="col-sm-12 col-md-12 col-lg-8 my-4 px-4">
            <p>I am an Accredited Play Therapist & Environmental Art Therapist with additional Sand, Art and Bereavement training. I work with both adults and children on a one-to-one basis.  I work therapeutically from a Rogerian, Jungian and Existential perspective. I believe that each person has the tools within themselves to heal.</p>
            <p>I adhere to the core conditions of being present, empathic, non-judgemental and congruent.  My therapeutic space is in a woodland setting which brings an immediate connection with nature.</p>
            <p>My main therapeutic space in Rathdrum, Co.Wicklow is in a woodland setting which brings an immediate connection with nature <br>I also see clients in a shared private practice space in Rathfarnham, Dublin.</p>
            <p>I incorporate a wide range of Creative Arts and Nature in my work with clients.</p>
         </div>
      </div>
   </div>
   <div class="container py-5">
      <div class="row">
         <div class="col-sm-12 col-md-6 col-lg-6">
            <h3 class="my-3">What is Creative Arts Therapy?</h3>
            <p>The creative arts allow for the expression of inner experiences that are beyond words.  Our external narrative is often the starting point of a story – what happened, when and how.</p>
            <p>The internal narrative is concerned with the impact these events have had on us. Research suggests that therapeutic communication can be made easier when using symbols or images rather than just the spoken word. The use of creative art materials can give us an opportunity to reflect upon memories, hopes, fears, anxieties and angers without tackling these emotional states head on.</p>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-6">
            <h3 class="my-3">What is Environmental Arts Therapy?</h3>
            <p>Environmental Art Therapy is when we bring our therapy sessions out into nature. Nature has a way of giving us what we need at any given time.</p>
            <p>Being out in its wildness and its absolute beauty reminds us of how insignificant we are in the greater scheme of things and what seems like an insurmountable obstacle is actually manageable if seen from another perspective.</p>
         </div>
      </div>
   </div>
</section>
{% endblock %}