{% extends "structure.html" %}
{% block content %}
<section>
   <h1 class="text-center mt-5">Services</h1>
   <h6 class="text-center pb-5">I work with both adults & children on a one to one basis. My main therapeutic space in is Rathdrum, Co.Wicklow. I also see clients in a shared private practice space in Rathfarnham, Dublin.</h6>
   <div class="container my-5">
       <div class="row d-flex align-items-center justify-content-center">
           <div class="col-sm-12 col-md-12 col-lg-4 order-lg-last d-flex justify-content-center">
               <img src="static/images/woodland.jpeg" class="img-fluid">
           </div>
           <div class="col-sm-12 col-md-6 col-lg-4">
               <h4 class="mb-4">Adult Sessions</h4>
               <ul>
                   <li><p>Face to Face</p></li>
                   <li><p>Phone/Video Sessions</p></li>
                   <li><p>Environmental Arts Therapy Sessions</p></li>
               </ul>
           </div>
           <div class="col-sm-12 col-md-6 col-lg-4">
               <h4 class="mb-4">Children/Adolescents Sessions</h4>
               <ul>
                   <li><p>Play & Creative Arts Therapy Sessions</p></li>
               </ul>
               <p style="font-weight:500; line-height: 20px;" class="mt-5">Please note; both parents/guardians will need to sign a consent form for childrens/adolescents therapy sessions & come in for a parental meeting before sessions start & after every 8 sessions.</p>
           </div>
       </div>
   </div>
</section>
{% endblock %}